<!--<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="expert">
            <h2><span>Expert</span> {{expert.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{expert.nom}}</span>
                </dd>
                <dt><span>Prenom</span></dt>
                <dd>
                    <span>{{expert.prenom}}</span>
                </dd>
                <dt><span>Date Naissance</span></dt>
                <dd>
                    <span>{{expert.dateNaissance}}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{expert.adresse}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{expert.description}}</span>
                </dd>
                <dt><span>Domaine</span></dt>
                <dd>
                    <span>{{expert.domaine}}</span>
                </dd>
                <dt><span>Profession</span></dt>
                <dd>
                    <span>{{expert.profession}}</span>
                </dd>
                <dt><span>Skill 1</span></dt>
                <dd>
                    <span>{{expert.skill1}}</span>
                </dd>
                <dt><span>Skill 2</span></dt>
                <dd>
                    <span>{{expert.skill2}}</span>
                </dd>
                <dt><span>Skill 3</span></dt>
                <dd>
                    <span>{{expert.skill3}}</span>
                </dd>
                <dt><span>Prix</span></dt>
                <dd>
                    <span>{{expert.prix}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{expert.note}}</span>
                </dd>
                <dt><span>Photo</span></dt>
                <dd>
                    <div *ngIf="expert.photo">
                        <a (click)="openFile(expert.photoContentType, expert.photo)">
                            <img [src]="'data:' + expert.photoContentType + ';base64,' + expert.photo" style="max-width: 100%;" alt="expert image"/>
                        </a>
                        {{expert.photoContentType}}, {{byteSize(expert.photo)}}
                    </div>
                </dd>
                <dt><span>Num Rib</span></dt>
                <dd>
                    <span>{{expert.numRib}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/expert', expert.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
-->
<div class="row">
    <div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <div class="well profile" style="width:175%">
            <div class="col-sm-12">
                <div class="row">
                <div class="col-xs-12 col-sm-8" style="margin-top:70px;">
                    <div *ngIf="expert">
                        <h2 style="margin-left:70px">{{expert.nom}} {{expert.prenom}}</h2>
                    </div>
                    <p style="margin-left:70px"><strong>About: </strong> {{expert.description}}</p>
                    <p style="margin-left:70px"><strong>Domaine & Profession: </strong> {{expert.domaine}} {{expert.profession}}</p>
                    <p style="margin-left:70px"><strong>Skills: </strong>
                        <span class="tags">{{expert.skill1}}</span>
                        <span class="tags">{{expert.skill2}}</span>
                        <span class="tags">{{expert.skill3}}</span>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <div *ngIf="expert.photo">
                            <a (click)="openFile(expert.photoContentType, expert.photo)">
                                <img [src]="'data:' + expert.photoContentType + ';base64,' + expert.photo"
                                    alt="expert image" style="width: 120%;" class="img-circle img-responsive">   
                    </figure>
                    <ngb-rating [(rate)]="currentRate">
                            <ng-template let-fill="fill" let-index="index">
                              <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                          <hr>
                          <pre>Rate: <b>{{currentRate}}</b></pre>
                </div>
            </div>
            </div>
            <div class="col-xs-12 divider text-center">
                <div class="row">
                <div class="col-xs-12 col-sm-4 emphasis">
                    <p style="margin-bottom: 0;"><small>né le</small></p>
                    <h2 style="margin-bottom: 1rem;margin-top: 1rem;"><strong> {{expert.dateNaissance | date:'mediumDate'}} </strong></h2>
                    <button type="submit" (click)="previousState()" class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                        <p style="margin-bottom: 0;"><small>note</small></p>
                    <h2 style="margin-bottom: 1rem;margin-top: 1rem;"><strong>{{expert.note}}</strong></h2>
                    <button (click)="methode($event)" type="button" class="btn btn-primary">
                        <fa-icon [icon]="'star'"></fa-icon>&nbsp;<span> Noter</span>
                    </button>
                </div>
                <div class="col-xs-12 col-sm-4 emphasis">
                    <p style="margin-bottom: 0;"><small>prix</small></p>
                    <h2 style="margin-bottom: 1rem;margin-top: 1rem;"><strong>{{expert.prix}}</strong></h2>
                    <button type="button" [routerLink]="['/expert', expert.id, 'edit']" class="btn btn-primary">
                        <fa-icon [icon]="'calendar'"></fa-icon>&nbsp;<span> Rendez-vous</span>
                    </button>
                </div>
            </div></div>
        </div>
    </div>
</div>