<div class="container view-steps">
    <div class="card mb-3">
        <img class="card-img-top" src="../../content/images/advisor.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">  Our experts are people who have a comprehensive or authoritative
            knowledge in their respective fields i.e. years of practical
            experience & professional qualifications. <br />
            <br />Our daily decisions are made easier with the combined wisdom of
            all through knowledge sharing. Become wiser, get better understanding
            and guidance from others who know more, have experienced it or are
            skilled in it.</p>
          <p class="card-text"><small class="text-muted">About the concept</small></p>
        </div>
      </div>
      <p class="txt-meet-experts">Our Services</p>

    <div class="steps">
        <img class="steps-section-image" style="padding: 0;"
            src="../../content/images/unnamed.png">
        <div class="steps-content">
            <section class="expsection" style="margin-left: 0;">
                <img src="../../content/images/planet.png" class="expsec_img" />
                <p class="expsec_title">PRODUCTIVE NETWORK</p>
                <p class="expsec_subtitle">No geographical barriers</p>
                <p class="expsec_bottitle" style="background: #00B6CA">One-Stop
                    Expert Directory</p>
            </section>
            <section class="expsection">
                <img src="../../content/images/responsive.png" class="expsec_img" />
                <p class="expsec_title">LIVE CHAT & CALLS</p>
                <p class="expsec_subtitle">Easy Connectivity</p>
                <p class="expsec_bottitle" style="background: #FF9B00">Privacy
                    Guaranteed</p>
            </section>
            <section class="expsection">
                <img src="../../content/images/conversation.png" class="expsec_img" />
                <p class="expsec_title">KNOWLEDGE SHARING</p>
                <p class="expsec_subtitle">Developing each other to succeed</p>
                <p class="expsec_bottitle" style="background: #006D9D">Leadership
                    & Empowerment Portal</p>
            </section>
            <section class="expsection">
                <img src="../../content/images/money.png" class="expsec_img" />
                <p class="expsec_title">AFFORDABLE HELP</p>
                <p class="expsec_subtitle">On-Demand live chat services</p>
                <p class="expsec_bottitle" style="background: #E2232C">Convenient
                    Access</p>
            </section>
        </div>
    </div>
</div>
<div class="container pad-gap" id="meet">
    <p class="txt-meet-experts">Meet our Experts</p>
    <p class="txt-sub">All experts are vetted and verified by
        Certified Fraud Examiners (CFE) to guarantee trust and integrity on
        this platform based on their specialities. Benefits include
        connecting on the go to empower each other with help and support for
        our personal, career or business concerns. </p>
</div>
<!--********************  NZIDOU SLIDER HOUNI FIH LES EXPERTS LES PLUS NOTES *********************-->
<!--<div *ngFor="let expert of experts">
    <h2>{{expert.nom}}</h2>
</div>
-->

<jhi-slider></jhi-slider>
